/*CSS reset*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
p {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/*desktop and laptop view*/
p, .main-heading {
  color: #a3a5ae;
  color: hsl(229, 6%, 66%);
}
/*containers*/
.container {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

header, main, footer {
  padding: 2% 10%;
}

/*images*/
img {
  width: 15%;
}

/*paragraphs*/
p {
  font-weight: 400;
}

/*header section */
header {
  text-align: center;
}

.main-heading {
  font-size: 2em;
  font-weight: 400;
}

span, .card-title {
  color: #4c4e61;
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}

/*main section*/
main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.supervisor, .two-divs, .calculator {
  margin: 1%;
  width: 30%;
}

.supervisor, .calculator {
  padding: 2%;
}

.team, .karma {
  padding: 6% !important;
}

 .supervisor {
  border-top: #45d3d3 solid 0.5rem;
  border-top: hsl(180, 62%, 55%) solid 0.5rem; 
  box-shadow: 5px 10px 18px #cccccf;
}

.supervisor:hover {
  box-shadow: 5px 10px 18px #45d3d3;
  box-shadow: 5px 10px 18px hsl(180, 62%, 55%);
}

.team {
  border-top: #ea5353 solid 0.5rem;
  border-top: hsl(0, 78%, 62%) solid 0.5rem;
  box-shadow: 5px 10px 18px #cccccf;
  margin-bottom: 4%;
  padding: 2%;
}

.team:hover {
  box-shadow: 5px 10px 18px #ea5353;
  box-shadow: 5px 10px 18px hsl(0, 78%, 62%);
}

.karma {
  border-top: #fcaf4a solid 0.5rem;
  border-top: hsl(34, 97%, 64%) solid 0.5rem;
  box-shadow: 5px 10px 18px #cccccf;
  padding: 2%;
}

.karma:hover {
  box-shadow: 5px 10px 18px #fcaf4a;
  box-shadow: 5px 10px 18px hsl(34, 97%, 64%);
}

.calculator {
  border-top: #549ef2 solid 0.5rem;
  border-top: hsl(212, 86%, 64%) solid 0.5rem;
  box-shadow: 5px 10px 18px #cccccf;
}

.calculator:hover {
  box-shadow: 5px 10px 18px #549ef2;
  box-shadow: 5px 10px 18px hsl(212, 86%, 64%); 
}

.icon {
  padding: 0 5vmin 3vmin 0;
  text-align: right;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
  color: hsl(228, 45%, 44%);
}

/* tablet view*/
@media screen and (max-width:768px) {

  .container {
    font-size: 14px;
  }

  main {
    display: block;

  }

  .main-heading {
    font-size: 1.8em;
  }

  .supervisor, .team, .karma, .calculator {
    margin: 4% 0;
    width: 100%;
  }

  .two-divs {
    margin: 0;
    width: 100%;
  }

  .supervisor, .calculator {
    padding: 6%;
  }

}

/*mobile view*/
@media screen and (max-width:600px) {

  .container {
    font-size: 12px;
  }

  .main-heading {
    font-size: 1.6em;
  }

}